.container-dropdown {
    display: flex;
    margin: 0px 65px 20px 65px;
}

li {
    list-style-type: none; /* Enlève les puces */
    line-height: 2;
}



@media screen and (min-width: 500px) and (max-width: 650px) {
    .container-dropdown {
       font-size: 10px;
    }
}

@media screen and (max-width: 500px) {
    .container-dropdown {
        display: block;
    }

    .dropdown-spacing {
        display: none;
    }
}