$padding-style: 20px;
$color-initial-link: inherit;
$any-underline: none;
$style-underline: underline;
$font-size-mobile: 10px;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 50px 0px 50px;

    &-left {
        img {
            width: 100px;
        }
    }
}

.style {
    &-home {
        padding-right: $padding-style;
        text-decoration: $any-underline;
        color: $color-initial-link;

        &:hover {
            text-decoration: $style-underline;
        }
    }

    &-about {
        padding-left: $padding-style;
        text-decoration: $any-underline;
        color: $color-initial-link;

        &:hover {
            text-decoration: $style-underline;
        }
    }
}

@media screen and (max-width: 375px) {
    .style {

        &-home{
            font-size: $font-size-mobile;
        }
       
        &-about{
            font-size: $font-size-mobile;
        }
    }
}


@media screen and (max-width: 500px) {
    .header {
        padding: 10px 30px 10px 30px;
    }
  }