$primary-color: #ffffff;
$padding-style: 20px;
$color-initial-link: inherit;
$any-underline: none;
$style-underline: underline;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 50px 0px 50px;
    background-color: $primary-color; // Utilisation de la variable $primary-color comme couleur de fond du header

    &__left {
        img {
            width: 100px; // Ajustez la taille de l'image selon vos besoins
        }
    }
}

.style {
    &-accueil {
        padding-right: $padding-style;
        text-decoration: $any-underline;
        color: $color-initial-link;

        &:hover {
            text-decoration: $style-underline; // Supprime le soulignement au survol et au focus
        }
    }

    &-apropos {
        padding-left: $padding-style;
        text-decoration: $any-underline;
        color: $color-initial-link;

        &:hover {
            text-decoration: $style-underline; // Supprime le soulignement au survol et au focus
        }
    }
}

