.container {
    background-color: #F6F6F6;
    border-radius: 15px;
    margin : 20px 50px 20px 50px;
    padding: 30px 10px 30px 10px;
    height: max-content;
}

.alignment {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 500px) and (max-width: 730px) {
    .container {
        padding: 0;
    }
}

  
  