.container-tag {
    background-color: #FF6060;
    color: white;
    font-size: 12px;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 10px;
    text-align: center;
    margin: 4px;
}

.alignment {
    display: flex;
}

@media screen and (max-width: 650px) {
    .container-tag {
       font-size: 10px;
    }
}

