.position-profile {
    display: flex;
    padding-bottom: 20px;

    p{
        color:#FF6060;
        font-size: 16px;
        padding-right: 10px;
    }

    img {
        width: 70px;
        border-radius: 40px;
    }
}

@media screen and (min-width: 500px) and (max-width: 650px) {
    .position-profile {
        p{
            font-size: 14px;
        }
    
        img {
            width: 60px;
        }
    }
}