$color-primary: #FF6060;
$margin: 0;

.style {
    font-size: 130px;
    font-weight: 700;
    color: $color-primary;
    margin: $margin; 

    &-information-erreur {
        font-size: 25px;
        color: $color-primary;
        margin: $margin;
        padding-bottom: 50px;
    }

    &-lien-retour {
        text-decoration: underline;
        color: inherit;
    }
}