$alignement: left;
$padding: 15px;

.dropdown {
  display: inline-block;
  width: 70%;
  padding-bottom: $padding;

  &-header {
    background-color: #FF6060;
    color: white;
    padding: $padding;
    cursor: pointer;
    border-radius: 5px;
    text-align: $alignement;
  }

  &-content {
    background-color: rgba(246, 246, 246, 0.45);
    text-align: $alignement;
    font-size: 14px;
    transition: max-height 0.5s ease;
    max-height: 0; 
    overflow: hidden; 
    padding-left: $padding;
  }

}

.arrow {
  float: right;
  transition: transform 0.5s ease;
}

.open {
  .arrow {
    transform: rotate(-180deg);
  }
}

.dropdown.open .dropdown-content {
  max-height: 200px;
}
