$color-primary: #FF6060;
$margin: 0;

.style {
    font-size: 130px;
    font-weight: 700;
    color: $color-primary;
    margin: $margin; 

    &-info-error {
        font-size: 25px;
        color: $color-primary;
        margin: $margin;
        padding-bottom: 50px;
    }

    &-link-back {
        text-decoration: underline;
        color: inherit;
    }
}

@media screen and (max-width: 500px) {
    .style {
        font-size: 80px;
    
        &-info-error {
            font-size: 16px;
        }
    }
}