.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff; /* Couleur de fond du header */

    &__left {
        img {
            width: 100px; /* Ajustez la taille de l'image selon vos besoins */
        }
    }

    &__right {
        button {
            margin-left: 10px; /* Ajoutez de l'espace entre les boutons */
        }
    }
}
