$tailleArrow: 7vw;
$positionArrow: 6%;
$position-element: absolute;


.style-image {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 25px 50px 25px 50px;

    .main-image {
        width: 100%;
        height: 600px;
        object-fit: cover;
        border-radius: 25px;
    }

    .arrow-container {
        position: $position-element;
        top: 50%;
        transform: translateY(-50%);

        .arrow {
            width: $tailleArrow;
            height: $tailleArrow;
        }

        &.back {
            left: $positionArrow;
        }

        &.next {
            right: $positionArrow;
        }
    }
}

.counter {
    color: white;
    font-weight: 500;
    position: $position-element;
    top: 85%;
}

@media screen and (max-width: 680px) {
    .style-image .main-image {
      height: 300px;
    }
}



@media screen and (max-width: 500px) {
    .style-image {
        margin: 10px 30px 10px 30px;
    }
}