$center: center;
$position: flex;

.footer {
    background-color: black;
    padding-top: 30px;
    display: $position;
    flex-direction: column;
    justify-content: $center;
    align-items: $center;

    &_top {
        img {
            width: 70px;
            padding-bottom: 10px; 
        }
    }

    &_bottom {
        color: white;
        display: $position;
        justify-content: $center;
        align-items: $center;
        width: 100%;
    }
}
