.container {
    background-color: #F6F6F6;
    border-radius: 15px;
    margin : 20px 50px 20px 50px;
    padding: 30px 10px 30px 10px;
    height: max-content;
}

.alignement {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}